<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="table-container">
        <div class="title">List Users</div>
        <table>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Name</th>
              <th>City</th>
              <th>Action</th>
            </tr>
            
            <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
              <tr>
                <td><%= listUsers[i].id %></td>
                <td><%= listUsers[i].email %></th>
                <td><%= listUsers[i].name %></td>
                <td><%= listUsers[i].city %></td>
                <td>
                  <button>Edit</button>
                  <button>Delete</button>
                </td>
              </tr>
            <% } %> -->
            <% listUsers.forEach(function(user) { %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></th>
                <td><%= user.name %></td>
                <td><%= user.city %></td>
                <td>
                  <a href="/update/<%= user.id %>">Edit</a>

                  <form action="/delete-user/<%= user.id %>" method="POST">
                    <button>Delete</button>
                  </form>

                  <!-- <button>Edit</button>
                  <button class="btnDelete" data-id="<%=user.id%>">Delete</button> -->
                </td>
              </tr>
           <% }); %> 
          </table>
    </div>
    <!-- <script>
      $(document).ready(function(){
        $(".btnDelete").click(function(){
            const id = $(this).attr('data-id');
            if (confirm(`Are you sure delete this tutorial ,id = ${id}`)){
                $.ajax({
                  url: `${window.location.origin}/api/tutorial/${id}`,
                  method: "DELETE",
                  success: (result) => {
                    console.log(result);
                    $(this).closest("tr").remove();
                  },
                  error: function(error){
                      console.log("ajax error:",error);
                  }
                })
            }else {
              //Do nothing
            }
        })
      })
    </script> -->
</body>
</html>)